<!-- Primera validación con *ngIf -->

<div class="container" style="margin-top: 40px;" *ngIf="usuario1">
  <h4>Primera validación con *ngIf</h4>
  <hr>
 Bienvenido {{ usuario1 }}
</div>

<div class="container" style="margin-top: 40px;" *ngIf="!usuario1">
  <h4>Primera validación con *ngIf</h4>
  <hr>
  Por favor ingrese usuario

  <button class="btn btn-outline-success"
          (click)="usuario1 = 'casaXmore'">
    Ingresar
  </button>

 </div>

 <br><br>

 <!-- Segunda validación con *ngIf y else ng-template-->
<div class="container">

 <div style="margin-top: 40px;" *ngIf="usuario2; then logout else login"></div>

<ng-template #logout>
  <h4>Segunda validación con *ngIf y else ng-template</h4>
  <hr>
 *************************
 Bienvenido {{ usuario2 }}
 *************************
</ng-template>

<ng-template class="container" style="margin-top: 40px;" #login>
  <h4>Segunda validación con *ngIf y else ng-template</h4>
  <hr>
  Por favor ingrese usuario

  <button class="btn btn-outline-success"
          (click)="usuario2 = 'casaXmore2'">
    Ingresar
  </button>

 </ng-template>

</div>
